# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import  seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [4]:
df=pd.read_csv(r"C:\Users\91932\OneDrive\Desktop\tut\student\dataset\student-mat.csv")
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [5]:
data = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'guardian']
sliced=df[data]
print(sliced)

    school sex  age address famsize Pstatus guardian
0       GP   F   18       U     GT3       A   mother
1       GP   F   17       U     GT3       T   father
2       GP   F   15       U     LE3       T   mother
3       GP   F   15       U     GT3       T   mother
4       GP   F   16       U     GT3       T   father
..     ...  ..  ...     ...     ...     ...      ...
390     MS   M   20       U     LE3       A    other
391     MS   M   17       U     LE3       T   mother
392     MS   M   21       R     GT3       T    other
393     MS   M   18       R     LE3       T   mother
394     MS   M   19       U     LE3       T   father

[395 rows x 7 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [6]:
data = lambda s: s.capitalize() if isinstance(s, str) else s
data1=df.map(data)
print(data1)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       Gp   F   18       U     Gt3       A     4     4   At_home   Teacher
1       Gp   F   17       U     Gt3       T     1     1   At_home     Other
2       Gp   F   15       U     Le3       T     1     1   At_home     Other
3       Gp   F   15       U     Gt3       T     4     2    Health  Services
4       Gp   F   16       U     Gt3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     Ms   M   20       U     Le3       A     2     2  Services  Services
391     Ms   M   17       U     Le3       T     3     1  Services  Services
392     Ms   M   21       R     Gt3       T     1     1     Other     Other
393     Ms   M   18       R     Le3       T     3     2  Services     Other
394     Ms   M   19       U     Le3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

### Step 6. Capitalize both Mjob and Fjob

In [7]:
df["Mjob"]=df["Mjob"].apply(lambda x: x.capitalize())
df["Fjob"]=df["Fjob"].apply(lambda x: x.capitalize())
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

### Step 7. Print the last elements of the data set.

In [8]:
print(df.iloc[-1:])

    school sex  age address famsize Pstatus  Medu  Fedu   Mjob     Fjob  ...  \
394     MS   M   19       U     LE3       T     1     1  Other  At_home  ...

    famrel freetime  goout  Dalc  Walc health absences G1 G2 G3
394      3        2      3     3     3      5        5  8  9  9

[1 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [9]:
df["Mjob"]=df["Mjob"].apply(lambda x: x.capitalize())
df["Fjob"]=df["Fjob"].apply(lambda x: x.capitalize())
df.columns=map(str.capitalize,df.columns)
print(df)

    School Sex  Age Address Famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... Famrel Freetime  Goout  Dalc  Walc Health Absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [13]:
def majority(Age):
    return Age > 17
df['legal_drinker'] = df['Age'].apply(majority)
print(df)

    School Sex  Age Address Famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... Freetime Goout  Dalc  Walc  Health Absences  G1  G2  G3 legal_drinker
0    ...        3     4     1     1       3        6   5   6   6          True
1    ...        3     3     1     1       3        4   5   5   6         False
2    ...        3     2     2     3       3       10   7   8  10         False
3    ...        2     2     1     1       5        2  15  14  15         False
4    ...        3     2     1     2       5        4   6  10  10         False
..   ...      ...   ...   ...   ...     ...      ...  ..  ..  ..           ...
390  ...        5     4     4     5       4       11   9   9   9          True
391  ...        4     5     3     4       2        3  14  16  16         False
392  ...        5     3     3     3       3        3  10   8   7          True
393  ...        4     1     3     4       5        0  11  12  10          True
394  ...        2     3     3     3       5        5   8   9   9          True

[395 rows x 34 columns]

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [14]:
def mul(x):
    return x*10

print(df.apply(mul))

                   School         Sex  Age     Address  \
0    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  180  UUUUUUUUUU
1    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  170  UUUUUUUUUU
2    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  150  UUUUUUUUUU
3    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  150  UUUUUUUUUU
4    GPGPGPGPGPGPGPGPGPGP  FFFFFFFFFF  160  UUUUUUUUUU
..                    ...         ...  ...         ...
390  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  200  UUUUUUUUUU
391  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  170  UUUUUUUUUU
392  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  210  RRRRRRRRRR
393  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  180  RRRRRRRRRR
394  MSMSMSMSMSMSMSMSMSMS  MMMMMMMMMM  190  UUUUUUUUUU

                            Famsize     Pstatus  Medu  Fedu  \
0    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  AAAAAAAAAA    40    40
1    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
2    LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    10    10
3    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    40    20
4    GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    30    30
..                              ...         ...   ...   ...
390  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  AAAAAAAAAA    20    20
391  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    30    10
392  GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3  TTTTTTTTTT    10    10
393  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    30    20
394  LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3  TTTTTTTTTT    10    10

                                                  Mjob  \
0    At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
1    At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
2    At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...
3    HealthHealthHealthHealthHealthHealthHealthHeal...
4    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
..                                                 ...
390  ServicesServicesServicesServicesServicesServic...
391  ServicesServicesServicesServicesServicesServic...
392  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...
393  ServicesServicesServicesServicesServicesServic...
394  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...

                                                  Fjob  ... Freetime Goout  \
0    TeacherTeacherTeacherTeacherTeacherTeacherTeac...  ...       30    40
1    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...  ...       30    30
2    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...  ...       30    20
3    ServicesServicesServicesServicesServicesServic...  ...       20    20
4    OtherOtherOtherOtherOtherOtherOtherOtherOtherO...  ...       30    20
..                                                 ...  ...      ...   ...
390  ServicesServicesServicesServicesServicesServic...  ...       50    40
391  ServicesServicesServicesServicesServicesServic...  ...       40    50
392  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...  ...       50    30
393  OtherOtherOtherOtherOtherOtherOtherOtherOtherO...  ...       40    10
394  At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...  ...       20    30

     Dalc  Walc  Health Absences   G1   G2   G3 legal_drinker
0      10    10      30       60   50   60   60            10
1      10    10      30       40   50   50   60             0
2      20    30      30      100   70   80  100             0
3      10    10      50       20  150  140  150             0
4      10    20      50       40   60  100  100             0
..    ...   ...     ...      ...  ...  ...  ...           ...
390    40    50      40      110   90   90   90            10
391    30    40      20       30  140  160  160             0
392    30    30      30       30  100   80   70            10
393    30    40      50        0  110  120  100            10
394    30    30      50       50   80   90   90            10

[395 rows x 34 columns]